@import '/src/styles/base/variables';

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($skill-card-size, 1fr));
  gap: $space-lg;
  margin: $space-xl 0;
  max-width: 580px;
}
