@import '/src/styles/base/variables';

.footer {
  padding: 20px $space-lg;
  border-top: 1px solid rgba($color-main, 0.08);

  @media (min-width: 720px) {
    padding: 20px 70px;
  }

  &__copy {
    font-size: 13px;
    color: $color-white;
    opacity: 0.4;
    margin: 0;
  }
}
